h2{
	font-family: "BPG Nino Mtavruli", sans-serif;
	font-size: 50px;
}
h3{
	font-family: "BPG Ingiri Arial", sans-serif;
	font-size: 50px;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 50px;
}
